<p>You've been invited to create an account at your-domain.com follow this <%= link_to "link", new_registerations_url(:token => @token) %> to respond to the invitation.</p>

<p>Best Regards,</p>
<p>your-domain.com Team</p>
