<p>Dear <%= @name %>,</p>

<p>Please validate your account at <%= Rails.application.config.authentasaurus[:mail][:host] %> by visiting this <%= link_to "link", activate_url(:host => Rails.application.config.authentasaurus[:mail][:host] , :code => @vcode) %>.</p>

<p>Best Regards,</p>
<p><%= Rails.application.config.authentasaurus[:mail][:host] %> Team</p>
