<p>Dear <%= @name %>,</p>

<p>A request has been made to recover your account's password.</p>
<p>Please visit this <%= link_to "link", recover_password_url(:host => AUTHENTASAURUS[:mail][:host], :token => @token) %> and follow the instructions.</p>

<p>Best Regards,</p>
<p><%= AUTHENTASAURUS[:mail][:host] %> Team</p>
