<p>Dear <%= @name %>,</p>

<p>Please validate your account at <%= AUTHENTASAURUS[:mail][:host] %> by visiting this <%= link_to "link", validate_url(:host => AUTHENTASAURUS[:mail][:host] , :code => @vcode) %>.</p>

<p>Best Regards,</p>
<p><%= AUTHENTASAURUS[:mail][:host] %> Team</p>
