<h3><%= flash.now[:notice] %></h3>
<% form_tag activate_path do %>
	Validation Code :<br>
	<p><%= text_field_tag :vcode, params[:vcode], :size => 44 %></p>
	<p><%= submit_tag "Validate" %></p>
<% end %>