<p>You've been invited to create an account at <%= AUTHENTASAURUS[:mail][:host] %> follow this <%= link_to "link", new_registrations_url(:host => AUTHENTASAURUS[:mail][:host], :token => @token) %> to respond to the invitation.</p>

<p>Best Regards,</p>
<p><%= AUTHENTASAURUS[:mail][:host] %> Team</p>
