<p>You've been invited to create an account at <%= Authentasaurus::Configuration.instance.configuration[:mail][:host] %> follow this <%= link_to "link", new_registrations_url(:host => Authentasaurus::Configuration.instance.configuration[:mail][:host], :token => @token) %> to respond to the invitation.</p>

<p>Best Regards,</p>
<p><%= Authentasaurus::Configuration.instance.configuration[:mail][:host] %> Team</p>
